<h1>Sample#index</h1>
<p>Find me in app/views/sample/index.html.erb</p>

<div class="text-center my-8 flex justify-center">
  <div class="px-8 py-6 rounded-2xl bg-gray-900 text-gray-100">
    <p>
      <a
        rel="noreferrer"
        href="https://github.com/suzukey/vite_windi_sample"
        target="_blank"
      >
        Vite + Vue3 + WindiCSS
      </a>
    </p>
    <p>
      <em class="text-sm opacity-75">Soooo fast!</em>
    </p>
  </div>
</div>

